body {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;

    --primary-color: #007936;
    --accent-color: #eee;
    --light-text-color: rgb(107, 107, 107);
    --second-accent-color: #1d9352;
    --second-background-color: rgb(0, 65, 28);

}

/* Describes the styling of the one and only emenent with id="mainheader", note the # in front of mainheader */
#mainheader {
	margin-top: 125px;
    background-color: var(--primary-color);
    font-size: 3rem;
    color: white;
    width: 100%;
    padding-left: 30px;
}

#logo-header {
	padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--second-background-color);
}

#logo-header img {
    margin-left: 30px;
    background-color: var(--second-background-color);
}

nav
{
	margin-top: 180px;
    height: 2rem;
    width: 100%;
    line-height: 2rem;
    text-align: center;
    background-color: var(--second-accent-color);  
}

nav a
{
	color: white;
}

nav a:hover
{
	color:springgreen;
}

nav, #logo-header, #logo-header img, #mainheader{
	position: fixed;
}

main {
	padding-top: 225px;
	padding-left: 25px;
	padding-right: 25PX;
	background-color: var(--second-background-color);
}

.heading
{
	position: fixed;
}

/* Describes the styling of all elements with class="parkname", note the . in front of parkname */
.parkname {
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
}

/* Describes the styling of all <article> elements */
article {
    border: 1px solid var(--primary-color);
    color: var(--light-text-color);
    margin: 5px;
    background-color: var(--accent-color);
}

.order {
    padding-top: 25px;
}

.orderbutton{
	background-color: var(--second-accent-color);
	color: white;
	height: 40px;
	width: 175px;
	border-radius: 15px;
}

.badge {
    background-color: red;
    display: none;
    color: white;
    font-weight: bold;
    width: 25px;
    border-radius: 25px;

}